<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bucket_quest" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/maps_api"/>

        <activity android:name=".activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.EventActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".activities.MainActivity"
                android:label="Bucket Quest">
        </activity>

        <activity android:name=".activities.AddNewActivity"
                android:label="Add New Event"/>
    </application>

</manifest>