# Controls when the action will run. Triggers the workflow on push or pull request
name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
